<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitri.meto.member.MemberMapper">
 
 <resultMap type="com.kitri.meto.member.Member" id="MemberResultMap">
 		<result property="mem_num" column="MEM_NUM"/>
 		<result property="id" column="ID"/>
    	<result property="pwd" column="PWD"/>
        <result property="name" column="NAME" />
        <result property="birth" column="BIRTH"/>
        <result property="phone" column="PHONE" />
        <result property="mem_status" column="MEM_STATUS"/>
        <result property="gender" column="GENDER"/>
 </resultMap>
 
 <resultMap type="com.kitri.meto.JoinDTO.JoinDTO" id="ArticleMap">
 		<result property="share_num" column="SHARE_NUM"/>
 		<result property="share_title" column="SHARE_TITLE"/>
 		<result property="id" column="ID"/>
 		<result property="location" column="LOCATION"/>
 		<result property="metoo" column="METOO"/>
 </resultMap>
 
    <select id="select" resultMap="MemberResultMap" parameterType="String">
        SELECT * FROM member where id = #{id}
    </select>
    
     <insert id="insert" parameterType="com.kitri.meto.member.Member" >
        INSERT INTO member values(mem_seq.nextval,#{id},#{pwd},#{name},#{phone},#{gender},#{birth},'y')
    </insert>
    
    <update id="update" parameterType="com.kitri.meto.member.Member">
    	update member SET pwd = #{pwd}, name = #{name}, birth = #{birth},
    	 phone = #{phone} where id = #{id}
    </update>
    
    <delete id="delete" parameterType="String">
        delete member where id = #{id}
    </delete>
    
    <select id="articleListAll" resultMap="ArticleMap">
    	SELECT share_num, share_title, id, location, metoo FROM member join share_plan s on mem_num = writer join main_plan m on s.point_num= m.point_num 
    	WHERE <![CDATA[ ROWNUM <= 10 ]]>  ORDER BY metoo 
    </select>
    
    <select id="getArticleByTitle" resultMap="ArticleMap" parameterType="String">
    	SELECT share_num, share_title, id, location, metoo FROM member join share_plan s on mem_num = writer join main_plan m on s.point_num= m.point_num 
    	WHERE <![CDATA[ ROWNUM <= 10 ]]> AND share_title like '%' || #{text} || '%' ORDER BY metoo 
    </select>
    
    <select id="getArticleByWriter" resultMap="ArticleMap" parameterType="String">
    	SELECT share_num, share_title, id, location, metoo FROM member join share_plan s on mem_num = writer join main_plan m on s.point_num= m.point_num 
    	WHERE <![CDATA[ ROWNUM <= 10 ]]> AND id like '%' || #{text} || '%' ORDER BY metoo 
    </select>
    
    <select id="getArticleByNum" resultMap="ArticleMap" parameterType="Int">
    	SELECT share_num, share_title, id, location, metoo FROM member join share_plan s on mem_num = writer join main_plan m on s.point_num= m.point_num 
    	WHERE <![CDATA[ ROWNUM <= 10 ]]> AND share_num like '%' || #{num} || '%' ORDER BY metoo 
    </select>
    
    <select id="selectById" resultType="int" parameterType="String">
        SELECT mem_num FROM member where id = #{id}
    </select>
 
</mapper>