<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitri.meto.schedule.ScheduleMapper">
 
 <resultMap type="com.kitri.meto.schedule.Schedule" id="ScheduleResultMap">
 		<result property="main_num" column="Main_Num"/>
 		<result property="main_title" column="Main_Title"/>
    	<result property="main_writer" column="Main_Writer"/>
        <result property="main_date" column="Main_Date" />
        <result property="point_num" column="Point_Num"/>
        <result property="year" column="Year"/>
        <result property="month" column="Month"/>
        <result property="day" column="day"/>
 </resultMap>
 
 <select id = "selectAll" resultMap="ScheduleResultMap" parameterType="int">
 	SELECT main_num, main_title, main_writer, TO_CHAR(main_date,'YYYY') year, TO_CHAR(main_date,'MM') month, TO_CHAR(main_date,'DD') day, point_num FROM main_plan where main_writer = #{main_writer} order by year, month, day
 </select>
 
 <select id = "select" resultMap="ScheduleResultMap" parameterType="com.kitri.meto.schedule.Schedule" >
 	SELECT main_num, main_title, main_writer, TO_CHAR(main_date,'YYYY') year, TO_CHAR(main_date,'MM') month, TO_CHAR(main_date,'DD') day, point_num FROM main_plan where main_writer = #{main_writer} and main_date=#{main_date}
 </select>

 <delete id="delete" parameterType="int">
    delete from main_plan where main_num = #{main_num}
 </delete>
 
 <insert id="insert" parameterType="com.kitri.meto.schedule.Schedule" >
	INSERT INTO main_plan values(main_seq.nextval ,#{main_title}, #{main_writer}, TO_DATE(#{main_date}, 'YYYY/MM/DD'), #{point_num})
</insert>

 <select id = "selectByPointNum" resultType="int">
 	SELECT MAX(point_num) FROM point
 </select>
 
 <select id = "selectByMainNum" resultType="int">
 	SELECT MAX(main_num) FROM main_plan
 </select>

</mapper>