<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitri.meto.shareplan.SharePlanMapper">
 	<resultMap type="com.kitri.meto.shareplan.SharePlan" id="SharePlanResultMap">
 		<result property="share_num" column="share_num" />
 		<result property="share_title" column="share_title" />
 		<result property="writer" column="writer" />
 		<result property="location" column="location" />
 		<result property="content" column="content" /> 		
		<result property="metoo" column="metoo" />
		<result property="point_num" column="point_num" />
	</resultMap>
 	<resultMap type="com.kitri.meto.JoinDTO.JoinDTO" id="JoinResultMap">
 		<result property="share_num" column="share_num" />
 		<result property="share_title" column="share_title" />
 		<result property="writer" column="writer" />
 		<result property="location" column="location" />
 		<result property="content" column="content" /> 		
		<result property="metoo" column="metoo" />
		<result property="point_num" column="point_num" />
		<result property="gender" column="gender" />
	</resultMap>
	
	<insert id="insert" parameterType="com.kitri.meto.shareplan.SharePlan" >
		INSERT INTO share_plan values(share_seq.nextval, #{share_title}, #{writer}, #{location}, #{content}, 0, #{point_num})
	</insert>
	
	<select id="select" resultMap="SharePlanResultMap" parameterType="int">
		SELECT * FROM share_plan WHERE share_num = #{share_num}
	</select>
	
	<select id="selectAll" resultMap="SharePlanResultMap" parameterType="int">
		SELECT * FROM share_plan ORDER BY share_num desc
	</select>
	
	<update id="metooPlus" parameterType="com.kitri.meto.shareplan.SharePlan">
		UPDATE share_plan SET metoo = metoo+1 WHERE share_num = #{share_num}
	</update>
	
	<update id="metooMinus" parameterType="com.kitri.meto.shareplan.SharePlan">
		UPDATE share_plan SET metoo = metoo-1 WHERE share_num = #{share_num}
	</update>
	
	<select id="selectByTitle" resultMap="SharePlanResultMap" parameterType="String">
      SELECT * FROM share_plan WHERE share_title like #{share_title} ORDER BY share_num
   </select>
   
   <select id="selectByGender" resultMap="JoinResultMap" parameterType="String">
      SELECT * FROM share_plan join member
      ON writer = mem_num
      WHERE gender = #{gender}
      ORDER BY share_num
   </select>
   
   <select id="selectByWriter" resultMap="SharePlanResultMap" parameterType="int">
      SELECT * FROM share_plan WHERE writer = #{writer}
   </select>
   
   <select id="selectByBest" resultMap="SharePlanResultMap">
      SELECT * FROM (select * from share_plan order by metoo)
      where rownum <![CDATA[<]]>  10
   </select>
   
   <select id="selectByPlace" resultMap="SharePlanResultMap" parameterType="String">
      SELECT * FROM share_plan WHERE location like #{location} ORDER BY share_num
   </select>
   
</mapper>