<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitri.meto.subplan.SubPlanMapper">
 	<resultMap type="com.kitri.meto.subplan.SubPlan" id="SubPlanResultMap">
		<result property="sub_num" column="sub_num" />
		<result property="sub_title" column="sub_title" />
		<result property="start_time" column="start_time" />
		<result property="end_time" column="end_time" />
		<result property="place" column="place" />
		<result property="llh_x" column="llh_x" />
		<result property="llh_y" column="llh_y" />
		<result property="mission" column="mission" />
		<result property="memo" column="memo" />
		<result property="mission_yn" column="mission_yn" />
		<result property="photo" column="photo" />
		<result property="main_num" column="main_num"/>
	</resultMap>
	
	<select id="selectAll" resultMap="SubPlanResultMap" parameterType="int">
		SELECT sub_num, sub_title, TO_CHAR(start_time,'AMHH:MI') start_time, TO_CHAR(end_time,'AMHH:MI') end_time, place, mission, mission_yn, PHOTO, memo, llh_x, llh_y FROM sub_plan WHERE main_num = #{main_num} order by start_time
	</select>
	
	<select id="selectSupPlanTime" resultMap="SubPlanResultMap" parameterType="int">
		SELECT TO_CHAR(start_time,'AMHH:MI') start_time, TO_CHAR(end_time,'AMHH:MI') end_time FROM sub_plan WHERE sub_num = #{sub_num}
	</select>
    
	<select id="select" resultMap="SubPlanResultMap" parameterType="int">
		SELECT sub_num, sub_title, TO_CHAR(start_time,'HH24:MI') start_time, TO_CHAR(end_time,'HH24:MI') end_time, place, mission, memo, mission_yn, photo, main_num, llh_x, llh_y FROM sub_plan WHERE sub_num = #{sub_num}
	</select>
	
	<insert id="insert" parameterType="com.kitri.meto.subplan.SubPlan" >
		INSERT INTO sub_plan values(sub_seq.nextval ,#{sub_title}, TO_DATE(#{start_time}, 'HH24:MI'),TO_DATE(#{end_time}, 'HH24:MI'),#{place},#{llh_x},#{llh_y},#{mission},#{memo},#{mission_yn},null,#{main_num})
	</insert>
	
	<update id="update" parameterType="com.kitri.meto.subplan.SubPlan" >
		UPDATE sub_plan 
		SET 
		sub_title = #{sub_title}, 
		start_time = TO_DATE(#{start_time}, 'HH24:MI'), 
		end_time = TO_DATE(#{end_time}, 'HH24:MI'), 
		place = #{place}, 
		mission = #{mission}, 
		memo = #{memo}, 
		photo = #{photo}, 
		llh_x = #{llh_x}, 
		llh_y = #{llh_y} 
		WHERE sub_num = #{sub_num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE sub_plan WHERE sub_num = #{sub_num}
	</delete>
	
	<update id="upPhoto" parameterType="com.kitri.meto.subplan.SubPlan">
		UPDATE sub_plan SET photo=#{photo}, mission_yn = '1' where sub_num = #{sub_num}
	</update>
	
	<select id="selectByMainNum" resultMap="SubPlanResultMap" parameterType="int">
		SELECT sub_num, sub_title, TO_CHAR(start_time,'HH24') start_time, TO_CHAR(end_time,'HH24:MI') end_time, place, mission, memo, mission_yn, photo, main_num FROM sub_plan WHERE main_num = #{main_num}
	</select>
	
	<select id="selectBySchedule" resultMap="SubPlanResultMap" parameterType="com.kitri.meto.schedule.Schedule">
		SELECT sub_num, sub_title, TO_CHAR(start_time,'HH24:MI') start_time, TO_CHAR(end_time,'HH24:MI') end_time, place, mission, memo, mission_yn, photo, main_num FROM sub_plan WHERE main_writer = #{main_writer} AND main_date = #{main_date}
	</select>
	
	<update id="updateMissionYN" parameterType="com.kitri.meto.subplan.SubPlan">
		UPDATE sub_plan SET mission_yn = #{mission_yn} where sub_num = #{sub_num}
	</update>
	
	
	
</mapper>